langchain
langgraph
langchain_community
langchain-core
pypdf
pdf2image
langchain-tavily
bs4
langchain-postgres
psycopg2
structlog
langgraph-checkpoint-postgres
langsmith
pymupdf
langchain-pinecone
langchain-huggingface
sentence_transformers
langchain-groq
langchain_google_genai
einops
torch
torchvision
transformers
accelerate
pillow
langchain-classic
pytesseract
gradio
dvc
dagshub
dvc-s3
fastapi
uvicorn